<polymer-element name="shadow-style">
  <template>
    <style>
      :host{
        display: block;
        background: green;
      }/* For the whole element*/
      :host(.another){
        background: blue;
      }
      :host-context(.parent){
        background: yellow;
      }/*for styling the parent of the element*/
    </style>

    <!-- CARD CONTENTS GO HERE -->
    <p class="shadoww">This is a shadow element i should be colored</p>
    <content select="p"></content>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>